[Desktop Entry]
Type=Application
Name=canplayer
Comment=Replay CAN logfiles
Exec=sh -c "canplayer --help; ${SHELL:-bash}"
Icon=utilities-terminal
Terminal=true
Categories=BackBox-Pentest;
