[Desktop Entry]
Type=Application
Name=bluesnarfer
Comment=Open bluesnarfer tool
Exec=bash -ic "bluesnarfer; echo; ${SHELL:-bash}"
Icon=utilities-terminal
Terminal=true
Categories=BackBox-Pentest;
