[Desktop Entry]
Type=Application
Name=dshell
Comment=Launch Dshell
Exec=sh -c "dshell; ${SHELL:-bash}"
Icon=utilities-terminal
Terminal=true
Categories=BackBox-Forensics;
