[Desktop Entry]
Type=Application
Name=wepattack
Comment=Launch wepattack tool
TryExec=bluetoothctl
Exec=sh -c "wepattack; ${SHELL:-bash}"
Icon=utilities-terminal
Terminal=true
Categories=BackBox-Pentest;
