[Desktop Entry]
Type=Application
Name=gps-sdr-sim
Comment=Open gps-sdr-sim tool
Exec=sh -c "gps-sdr-sim; ${SHELL:-bash}"
Icon=utilities-terminal
Terminal=true
Categories=BackBox-Pentest;
