[Desktop Entry]
Type=Application
Name=loic
Comment=Open loic tool
TryExec= loic
Exec=bash -ic "loic-tool"
Icon=utilities-terminal
Terminal=true
Categories=BackBox-Pentest;
