[Desktop Entry]
Type=Application
Name=carwhisperer
Comment=Open carwhisperer tool
TryExec= carwhisperer
Exec=sh -c "carwhisperer; ${SHELL:-bash}"
Icon=utilities-terminal
Terminal=true
Categories=BackBox-Pentest;
