[Desktop Entry]
Type=Application
Name=bluetoothctl
Comment=Launch bluetoothctl tool
Exec=sh -c "bluetoothctl --help; ${SHELL:-bash}"
Icon=utilities-terminal
Terminal=true
Categories=BackBox-Pentest;
