[Desktop Entry]
Type=Application
Name=rfcomm
Comment=Launch rfcomm tool
Exec=sh -c "rfcomm -h; ${SHELL:-bash}"
Icon=utilities-terminal
Terminal=true
Categories=BackBox-Pentest;
