[Desktop Entry]
Type=Application
Name=cangen
Comment=Generate random CAN traffic
TryExec=cangen
Exec=sh -c "cangen --help; ${SHELL:-bash}"
Icon=utilities-terminal
Terminal=true
Categories=BackBox-Pentest;
