[Desktop Entry]
Type=Application
Name=Ghidra
Comment=The NSA RE Tool
Exec=bash -ic "ghidra; echo; ${SHELL:-bash}"
Icon=utilities-terminal
Terminal=true
Categories=BackBox-Pentest;BackBox-Forensics;
